@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    
}



ul {
    list-style-type: none;
}


h1, h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #6d8ded;
    color: #fff;
    height: 60px;
} 

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.logo,.navbar a.logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}
.navigation-items li {
    margin-left: 20px;
}

.navigation-items a:hover {
    transition-duration: 0.5s;
    color: black;

}

.navigation-items a:not(:hover) {
    transition-duration: 0.5s;
    color: rgb(255, 255, 255);

}

.header {
    padding-top: 3rem;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 h2 {
    font-size: 2rem;
}

.header p {
    padding-right: 20px;
    line-height: 1.7;
}

.header img {
    max-width: 400px;
    max-height: 400px;
    border: solid 5px #6d8ded;
    border-radius: 10px;
}

.projects {
    padding-bottom: 20px;
}
.projects li {
    list-style-type:circle
}

.coding-icons {
    display: flex;
}
.skills {
    padding-bottom: 5rem;
}
.skills img {
    max-width: 50px;
    padding-left: 10px;
}

#button{
    padding: 10px;
    background-color: #6d8ded;
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
    color: #fff;
    transition-duration: 0.4s

}
#button:hover {
    background-color: #ffffff;
    border: 1px solid;
    color: black;
    cursor: pointer;
    
}


@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        margin-bottom: 20px;
    }
}



/* Styles for the challenges page */

#h1-challenges {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin: 40px auto;
    margin-left: 20px;
}

.body-container {
    width: 1000px;
    margin: 0 auto 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.solution {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    overflow: hidden;
    
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .challenges-h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 10px ;
    
  }
  
  .test {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  #output {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .output{
  overflow: hidden;
  word-wrap: break-word;
  }

  .code {
    background-color: #f2f1f1;
    font-family:'Anonymous Pro', monospace;
    font-size: 1.1rem;
    padding:2px 4px;
    border-radius: 5px;
  }

  .comments {
    font-size: 1rem;
  }

code {
    color: rgb(217, 214, 214);
    background-color: black;
    border-radius: 0.2rem;
    padding: 4px;
}
  /* @media for smaller screens */

   @media (max-width: 767px) {
    #h1-challenges {
      font-size: 30px;
      margin-top: 20px;
    }
  
    p {
      font-size: 18px;
      line-height: 24px;
      margin: 20px auto;
      margin-left: 10px;
    }
  
    .body-container {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }
  
    .solution {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 10px;
    }
  
    .challenges-h3 {
      font-size: 18px;
    }
  
    input[type="text"] {
      width: 100%;
      padding: 8px;
    }

    .button{
        margin-left: 130px;
        margin-top: 30px;
    }
}

